/*
 * Sobreescribo los valores badge (bootstrap)
 */
.badge {
    background-color: #d9534f;
    border-radius: 1px;
    margin-left: .4em;
}

/*
 * Tamaño fijo para botones
 */
.custom-btn-width {
    width: 100px;
}

/*
 * Separacion entre celdas de la tabla para añadir horarios
 */
.custom-table-timetable td {
    padding: 2px !important;
}

.table td {
    vertical-align: middle !important;
}


.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 0px;
}
