/*
 * Sobreescribo los valores badge (bootstrap)
 */
.badge {
    background-color: #d9534f;
    border-radius: 1px;
    margin-left: .4em;
}

/*
 * Tamaño para botones
 */
.custom-btn-width {
    width: 100px;
}

@media (max-width:768px){
    .custom-btn-mobile {
        height: 250px;
    }
}

/*
 * Separacion entre celdas de la tabla para añadir horarios
 */
.custom-table-timetable td {
    padding: 2px !important;
}

.table td {
    vertical-align: middle !important;
}
